@font-face {
  font-family: myfont;
  src: url(Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: myfont;
}
body {
  height: 100vh;
}
h1 {
  margin: 10px 0px 30px 0;
  text-align: center;
}
main {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}
form {
  width: 40%;
}
input {
  width: 80%;
  text-align: start;
  padding: 5px 35px;
  border-radius: 5px;
  border: 1px solid gray;
}
select {
  width: 100%;
  text-align: right;
  padding: 5px;
  color: black;
  font-weight: 550;
  border-radius: 5px;
}

.reset {
  background-color: red;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

i {
  position: absolute;
  font-size: 1.2rem;
  align-items: center;
  padding: 5px;
}
label {
  display: block;
  margin-top: 10px;
}
.country_postCode {
  display: flex;
  margin: 20px 10px 0 0;
}
.country {
  margin-right: 10px;
  width: 150px;
}
.checkbox {
  margin-top: 20px;
  padding: 5px;
}
.checkbox input {
  width: 1rem;
}
.checkbox label {
  display: inline;
  margin-left: 15px;
}
.image {
  display: flex;
  padding: 20px;
}
.image img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
section.img {
  background-color: #eeeeee;
  width: 350px;
  height: 450px;
  border-radius: 20px;
}
.button {
  position: relative;
  margin: 5px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.button button {
  font-size: 1rem;
  padding: 0 10px;
  margin: 5px 0;
  background-color: #e0e0e0;
  border: none;
}
.info {
  width: 40%;
  font-size: 1rem;
  padding: 5px;
}

.info p.cost {
  color: orange;
}
.info p.cost span {
  color: #4e5150;
  font-size: 0.7rem;
}
footer {
  margin-top: 10px;
  padding: 20px;
  font-size: 1rem;
}
.foot span {
  float: right;
}

.foot {
  border-top: 1px solid #bdbdbd;
  margin-top: 5px;
}

input[type="submit"] {
  position: relative;
  left: 100%;
  margin: auto;
  padding: 10px;
  width: 80px;
  background-color: orange;
  color: white;
  border: 0;
}
@media (max-width: 712px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  form {
    margin-top: 15px;
    width: 55%;
  }
  .country_postCode {
    display: flex;
    flex-direction: column;
  }
  input[type="submit"] {
    position: relative;
    left: 50%;
  }
}
